<!DOCTYPE html>
<html>
<head>
<title>Pengguna</title>
</head>
<body>
    <table>
        <thead>
            <th>Username</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Password</th>
        </thead>
        <tbody>
            {% for user in data %}
            <tr>
                <td>{{user[0]}}</td>
                <td>{{user[1]}}</td>
                <td>{{user[2]}}</td>
                <td>{{user[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>